# This file is a template. Please copy this file to '.env' to modify.

# URL describing the Postgres instance to use as the database. Required.
# https://www.postgresql.org/docs/current/libpq-connect.html#LIBPQ-CONNSTRING-URIS
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/testing"

# Uncomment to run in production mode.
# NODE_ENV="production"

# What port to listen to for requests. Defaults to '8080' if unset.
# PORT="8080"

# Username for the initial user. Defaults to 'admin' if unset.
# INITIAL_USER="admin"

# Password for the initial user. No user will be created if unset.
# INITIAL_PASSWORD="A_VERY_SECURE_PASSWORD"

# The max age for session cookies, in seconds. Defaults to 8 hours.
# SESSION_MAX_AGE="28800"
